* https://arxiv.org/abs/2002.00691
* https://github.com/stevengiacalone/triceratops

In [1]:
from astropy.io import ascii

In [2]:
tab = ascii.read('../data/Giacalone2020/tab4.txt')
classified = tab.to_pandas()
classified

,TOI,PTFP-2m,PTFP-30m,PCFP-2m,PCFP-30m,PNFP-2m,PNFP-30m,FPP-2m,FPP-30m,TFOPdisp,Rp-2m,Rp-30m
0,101.01,0.006,0.779,0.004,0.062,0.000,0.000,0.011,0.841,CP,13.4,15.7
1,102.01,0.000,0.007,1.000,0.000,NaN,NaN,1.000,0.007,CP,16.1,16.1
2,103.01,0.000,0.017,0.778,0.448,NaN,NaN,0.778,0.465,CP,13.4,13.8
3,104.01,0.997,0.841,0.000,0.000,NaN,NaN,0.997,0.841,CP,14.2,14.1
4,105.01,0.000,1.000,0.000,0.000,NaN,NaN,0.000,1.000,CP,13.6,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...
208,1282.01,0.000,1.000,0.808,0.000,0.000,0.000,0.808,1.000,CP,16.3,13.4
209,1283.01,0.000,1.000,0.095,0.000,0.000,0.000,0.095,1.000,CP,12.3,11.9
210,1285.01,0.164,0.918,0.000,0.000,0.836,0.001,1.000,0.919,FP,2.0,1.6
211,1290.01,0.253,0.194,0.000,0.000,0.005,0.000,0.259,0.194,CP,1.9,2.8
212,1419.01,0.063,0.831,0.136,0.006,NaN,NaN,0.200,0.837,CP,9.7,9.7

In [3]:
unclassified = ascii.read('../data/Giacalone2020/tab5.txt').to_pandas()
unclassified

         TOI   PTFP  PCFP   PNFP    FPP    Rp  Ncont
0    1051.01  0.000  0.00  1.000  1.000   2.2      1
1    1052.01  0.035  0.00  0.101  0.136   3.1      3
2    1053.01  0.035  0.00  0.811  0.847   3.4      5
3    1054.01  0.002  0.00  0.000  0.002   2.9      1
4    1055.01  0.037  0.00    NaN  0.037   3.4      0
..       ...    ...   ...    ...    ...   ...    ...
419   911.01  1.000  0.00  0.000  1.000  53.3      2
420   912.01  0.016  0.00  0.000  0.016   1.9      3
421   913.01  0.020  0.00  0.000  0.020   2.7      1
422   934.01  0.162  0.41  0.000  0.571  11.6      1
423   935.01  1.000  0.00    NaN  1.000  10.3      0

[424 rows x 7 columns]

In [16]:
unclassified.query("TOI=='837.01'")

        TOI   PTFP   PCFP   PNFP    FPP    Rp  Ncont
390  837.01  0.435  0.422  0.001  0.858  11.4      2

In [21]:
t=cr.Target(toiid=837)
tic_params = t.query_tic_catalog(return_nearest_xmatch=True)

Querying TIC catalog for 157.037 -64.5052
            within 3.0 arcsec.

In [9]:
import pandas as pd
fpp = pd.concat([classified[['TOI','FPP-2m','FPP-30m']],
           unclassified[['TOI','FPP']]], sort=True)