* https://arxiv.org/abs/2002.00691
* https://github.com/stevengiacalone/triceratops

In [1]:
from astropy.io import ascii

In [2]:
tab = ascii.read('../data/Giacalone2020/tab4.txt')
classified = tab.to_pandas()
classified

,TOI,PTFP-2m,PTFP-30m,PCFP-2m,PCFP-30m,PNFP-2m,PNFP-30m,FPP-2m,FPP-30m,TFOPdisp,Rp-2m,Rp-30m
0,101.01,0.006,0.779,0.004,0.062,0.000,0.000,0.011,0.841,CP,13.4,15.7
1,102.01,0.000,0.007,1.000,0.000,NaN,NaN,1.000,0.007,CP,16.1,16.1
2,103.01,0.000,0.017,0.778,0.448,NaN,NaN,0.778,0.465,CP,13.4,13.8
3,104.01,0.997,0.841,0.000,0.000,NaN,NaN,0.997,0.841,CP,14.2,14.1
4,105.01,0.000,1.000,0.000,0.000,NaN,NaN,0.000,1.000,CP,13.6,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...
208,1282.01,0.000,1.000,0.808,0.000,0.000,0.000,0.808,1.000,CP,16.3,13.4
209,1283.01,0.000,1.000,0.095,0.000,0.000,0.000,0.095,1.000,CP,12.3,11.9
210,1285.01,0.164,0.918,0.000,0.000,0.836,0.001,1.000,0.919,FP,2.0,1.6
211,1290.01,0.253,0.194,0.000,0.000,0.005,0.000,0.259,0.194,CP,1.9,2.8
212,1419.01,0.063,0.831,0.136,0.006,NaN,NaN,0.200,0.837,CP,9.7,9.7

In [3]:
unclassified = ascii.read('../data/Giacalone2020/tab5.txt').to_pandas()
unclassified

/home/jp/miniconda3/envs/py3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: TableReplaceWarning: converted column 'Planet Name' from integer to float
  exec(code_obj, self.user_global_ns, self.user_ns)

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Metallicity,Stellar Metallicity err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,FPP,FPP-2m,FPP-30m
0,231663901,101.01,NaN,4,5,5,5,5,5,4,...,NaN,NaN,1,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-46 b,NaN,0.011,0.841
1,231663901,101.01,NaN,4,5,5,5,5,5,4,...,NaN,NaN,1,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-46 b,NaN,NaN,NaN
2,231663901,101.01,NaN,4,5,5,5,5,5,4,...,NaN,NaN,1,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-46 b,NaN,NaN,NaN
3,231663901,101.01,NaN,4,5,5,5,5,5,4,...,NaN,NaN,1,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-46 b,NaN,NaN,NaN
4,231663901,101.01,NaN,4,5,5,5,5,5,4,...,NaN,NaN,1,2018-09-05 18:34:18,2019-12-17 15:43:31,2020-01-16 02:34:07,WASP-46 b,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15966,318022259,1730.01,NaN,2,4,2,2,1,4,4,...,NaN,NaN,20,2020-02-19 23:47:13,2020-02-19 23:47:13,2020-02-20 12:00:20,odd-even difference but three transit events m...,NaN,NaN,NaN
15967,318022259,1730.02,NaN,2,4,2,2,1,4,4,...,NaN,NaN,20,2020-02-19 23:47:13,2020-02-19 23:47:13,2020-02-20 12:00:20,second candidate in the system,NaN,NaN,NaN
15968,371234684,1731.01,NaN,5,5,5,5,5,5,5,...,0.08,0.1,20,2020-02-19 23:47:13,2020-02-19 23:47:13,2020-02-20 12:00:19,HAT-P-9b,NaN,NaN,NaN
15969,470987100,1732.01,NaN,2,4,2,2,1,4,4,...,NaN,NaN,20,2020-02-19 23:47:13,2020-02-19 23:47:13,2020-02-20 12:00:20,NaN,NaN,NaN,NaN
15970,53427308,1733.01,NaN,3,4,3,3,1,4,4,...,NaN,NaN,20,2020-02-20 00:14:52,2020-02-20 15:23:13,2020-02-20 12:00:20,Small depth-aperture correlation; odd/even not...,NaN,NaN,NaN

In [4]:
unclassified.query("TOI=='837.01'")

,TIC ID,TOI,Previous CTOI,Master,SG1A,SG1B,SG2,SG3,SG4,SG5,...,Stellar Metallicity,Stellar Metallicity err,Sectors,Date TOI Alerted (UTC),Date TOI Updated (UTC),Date Modified,Comments,FPP,FPP-2m,FPP-30m
13310,460205581,837.01,NaN,3,5,5,3,2,4,4,...,NaN,NaN,11,2019-06-17 17:15:57,2019-12-17 15:43:38,2020-01-16 02:34:07,single transit,0.858,NaN,NaN

In [6]:
import chronos as cr

t=cr.Target(toiid=837)
tic_params = t.query_tic_catalog(return_nearest_xmatch=True)

Created TAP+ (v1.2.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Created TAP+ (v1.2.1) - Connection:
	Host: geadata.esac.esa.int
	Use HTTPS: True
	Port: 443
	SSL Port: 443
Querying TIC catalog for 157.037 -64.5052
            within 3.0 arcsec.

In [7]:
import pandas as pd
fpp = pd.concat([classified[['TOI','FPP-2m','FPP-30m']],
           unclassified[['TOI','FPP']]], sort=True)

In [8]:
fpp

       FPP  FPP-2m  FPP-30m      TOI
0      NaN   0.011    0.841   101.01
1      NaN   1.000    0.007   102.01
2      NaN   0.778    0.465   103.01
3      NaN   0.997    0.841   104.01
4      NaN   0.000    1.000   105.01
...    ...     ...      ...      ...
15966  NaN     NaN      NaN  1730.01
15967  NaN     NaN      NaN  1730.02
15968  NaN     NaN      NaN  1731.01
15969  NaN     NaN      NaN  1732.01
15970  NaN     NaN      NaN  1733.01

[16184 rows x 4 columns]